html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: silver;
}

img.right {
  /* flip all right eye images */
  transform: scaleX(-1);
}

/* container for both eyes and all eye content */
.eyes {
  /* 
  keep both eyes on same line
  works better than inline-block
  */
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
  justify-content: center;
  max-width: 690px;
  margin: 30vh auto;
}

/* individual eye divs */
.left-eye,
.right-eye {
  position: relative;
  display: block;
  width: 344px; /* original width: 172px */
  height: 300px; /* original height: 150px */
  overflow: hidden; 
}

/* outer eye images */
#left-eye,
#right-eye {
  position: absolute;
  left: 0;
  top: 0;
}

/* iris movement container divs */
.left-iris, 
.right-iris {
  position: relative;
  background-color: whitesmoke;
  width: 260px;
  height: 210px;
  top: 85px;
  overflow: hidden;
}

.left-iris {
  left: 14px; /* 5% of 344 = 17.2, 5% of 280 = 14 */
}

.right-iris {
  left: 64px;
}

/* iris and pupil images */
#left-iris,
#right-iris {
  position: absolute;
  /* set initial iris size */
  width: 100px;
  height: 100px;
  transform: translate(83%, 62%);
}

/* 
file orders 
hides irises and whites behind eye images 
*/
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
