html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: silver;
}

img.right {
  /* flip all right eye images */
  transform: scaleX(-1);
}

.eyes {
  /* 
  keep both eyes on same line
  works better than inline-block
  */
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 20vh 0 10vh;
}

.left-eye,
.right-eye {
  /*
  forces div area to 
  display eyes
  */
  display: block;
  position: relative;
  width: 50vw;
  max-height: 70vh;
  /* 
  temp change to see where things are
  remove when done:
  overflow: hidden; 
  */
}

.left-eye {
  text-align: right;
  padding-left: 20%;
}

.right-eye {
  text-align: left;
  padding-right: 20%;
}

#left-eye,
#right-eye {
  /* 
  makes eye images 
  responsive to window size
  */
  position: relative;
  max-width: 50vw;
  max-height: 70vh;
}

.left-iris, 
.right-iris {
  position: relative;
  background-color: whitesmoke;
  overflow: hidden;
  opacity: 100%;

  /* all iris info will have to be calculated by JavaScript */
  /*margin-top: -100%;
  top: -70%;
  height: 65%;
  width: 70%; /*60%*/
}

/*
iris boundary and positioning done in JavaScript
Remove this block when done.
.left-iris {
  left: 10%;
}

.right-iris {
  left: 20%;
}
*/

#left-iris,
#right-iris {
  /* set initial iris size */
  position: absolute;
  max-height: 60%;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
